* {
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-color: #e44542;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  
}

.encabezado {
  background-color: #b0d7ff;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  #list {text-align: left;}

}

.menu {
    background-color:#FAB05C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 15px;
    list-style-type: none;
    text-size-adjust: 25px;
    text-wrap-style: stable;
    margin: right;
    text-overflow: ellipsis;
    scroll-timeline-axis: 20px;
    display: flex;
  text-align: justify;
  text-decoration: darkslategray;
  font-size: 20px;
  justify-content: center;
  align-items: stretch;


  
   
}
/* Estilo general para todas las páginas */
.portada {
  width: 100%;
  height: 350px;
  
}

/* Imagen de fondo para la página index */
  
   body.index{
    width: 120px;
    height: 120px;
    padding-bottom: 100px;
    border: solid 3px rgb(198, 161, 91);
    margin-top: 100px;
    box-sizing: border-box 100px; 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
   background-attachment: scroll;
  } 
   body.amd{  
    background-color: rgb(87, 77, 104);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     
  } 
  body.procesadores{
    background-color: rgb(87, 77, 104);
    width: 120px;
    height: 120px;
    padding-bottom: 100px;
    border: solid 3px rgb(198, 161, 91);
    margin-top: 100px;
    box-sizing: border-box 100px; 
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
   background-attachment: scroll;
   mask-image: url('/imagenes/indexbg.png');
  } 
   body.fuente{
    background-color: rgb(87, 77, 104); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 
   body.gabinete{
    background-color: rgb(87, 77, 104);;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 
   body.intel{
    background-color: rgb(87, 77, 104);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 
   body.memoriasRAM{
    background-color: rgb(87, 77, 104);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 
   body.nvidia{
    background-color: rgb(87, 77, 104);  
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
   
  } 
   body.placamadre{
    background-color: rgb(87, 77, 104);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 
   body.radeon{
    background-color: rgb(87, 77, 104);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
  } 

/* Imagen de fondo para la página de procesadores */


/* Imagen de fondo para la página de placasmadre */
   body.placasmadre {
  background-color: rgb(87, 77, 104);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */

/* Imagen de fondo para la página de AMD */
body.amd {
background-color: rgb(87, 77, 104);
}

/* Imagen de fondo para la página de Intel */
body.intel {
 background-color: rgb(87, 77, 104);
}

/* Imagen de fondo para la página de memoria RAM */
body.memoria_ram {
 background-color: rgb(87, 77, 104);
}

/* Imagen de fondo para la página de gabinetes */
body.gabinetes {
  background-color: rgb(87, 77, 104);
}

/* Imagen de fondo para la página de fuentes de poder */
body.fuentes_de_poder {
background-color: rgb(87, 77, 104);
}

.fuente {
  width: 380px;
  height: 270px;

}

.pro {
  display: flex;
  justify-content:space-around;
  font-family: 'Gill Sans', 'Gill Sans MT',Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.amd
{
  display: justify;
  padding: 25px;
  font-size: 100px;
  background-color: #b0d7ff;
  display: flex;
  justify-content:space-around;
  font-family: Verdana,Geneva, Tahoma, sans-serif;

}
.intel
{
  display: justify;
  padding: 25px;
  font-size: 100px;
  background-color: #d8d5db;
  display: flex;
  justify-content:space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.procesadores
{
width: 420px;
height: 300px;
margin-top: 25px;
justify-content: center;
justify-items: center;
  flex: content;
    
}

.contenedor_fuente {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.fuente_bloque {
  margin-top: 25px;
  flex: content;
}
.Lista {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 10px;
-ms-flex-align: baseline;
display: list-item; color: #adacb5;
justify-items: center;
flex: content;
}
ul#lista li {text-align: center;}


.creditos
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 10px;
display: contents; color: #b0d7ff;
justify-items: center;
flex: center;
width: 200px;
height: 200px;
image-resolution: 1080px;

}

.nvidia
{
  
}
