* {
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-color: #e44542;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.encabezado {
  background-color: #b0d7ff;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.encabezadof {
  background-color: #37d093;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  
  #list {
    text-align: left;
  }

}
.encabezadod {
  background-color: #8f88d1;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  
  #list {
    text-align: left;
  }

}
.encabezadopm {
  background-color: #5e7fa7;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.encabezador {
  background-color: #b65597;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.encabezadog {
  background-color: #da9763;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.encabezadoe {
  background-color: #3c3c5e;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }
}
.encabezadoa {
  background-color: #e73265;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.encabezadoi {
  background-color: #426cab;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}
.menu {
  background-color: #FAB05C;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 15px;
  list-style-type: none;
  text-size-adjust: 25px;
  text-wrap-style: stable;
  margin: right;
  text-overflow: ellipsis;
  scroll-timeline-axis: 20px;
  display: flex;
  text-align: justify;
  text-decoration: darkslategray;
  font-size: 20px;
  justify-content: center;
  align-items: stretch;
  border: black solid 3px;
  

}
.menu2 {
  background-color: #21d188;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 15px;
  list-style-type: none;
  text-size-adjust: 25px;
  text-wrap-style: stable;
  margin: right;
  text-overflow: ellipsis;
  scroll-timeline-axis: 20px;
  display: flex;
  text-align: justify;
  text-decoration: darkslategray;
  font-size: 20px;
  justify-content: center;
  align-items: stretch;
  border: black solid 3px;
  }
.servi {
  background-color: #46a7a2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 15px;
  list-style-type: none;
  text-size-adjust: 25px;
  text-wrap-style: stable;
  margin: right;
  text-overflow: ellipsis;
  scroll-timeline-axis: 20px;
  display: flex;
  text-align: justify;
  text-decoration: darkslategray;
  font-size: 20px;
  justify-content: center;
  align-items: stretch;
  border: black solid 3px;
  

}
.peri {
  background-color: #ca5013;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 15px;
  list-style-type: none;
  text-size-adjust: 25px;
  text-wrap-style: stable;
  margin: right;
  text-overflow: ellipsis;
  scroll-timeline-axis: 20px;
  display: flex;
  text-align: justify;
  text-decoration: darkslategray;
  font-size: 20px;
  justify-content: center;
  align-items: stretch;
  border: black solid 3px;
  

}

.fuente {
  width: 380px;
  height: 270px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-smooth: calc(25); */
  border-radius: 20px;
  margin-top: 20px;
}
.disc {
  width: 300px;
  height: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-smooth: calc(25); */
  border-radius: 20px;
  margin-top: 20px;
}
.tecl {
  width: 900px;
  height: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-smooth: calc(25); */
  border-radius: 20px;
  margin-top: 20px;
}
.tecl {
  width: 320px;
  height: 320px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-smooth: calc(25); */
  border-radius: 20px;
  margin-top: 20px;
}
.raton {
  width: 250px;
  height: 250px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-smooth: calc(25); */
  border-radius: 20px;
  margin-top: 20px;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify center;
  justify-content: right;
  justify-items: right;
}
.manteni {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  background-color: #e7a4d5;
  border: black solid 3px;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  border-radius: 5px;
}
.manteni2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  background-color: #ad688c;
  border: black solid 3px;
  justify-content: center;
  align-items: stretch;
  padding: 15px;
  border-radius: 5px;
  }
  .manteni3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-color: #c03d85;
    border: black solid 3px;
    justify-content: center;
    align-items: stretch;
    padding: 15px;
    border-radius: 5px;
    }
.ram {
width: 400px;
height: 150px;
border-radius: 20px;
margin-top: 20px;
}
.intel {
  width: 380px;
  height: 270px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-smooth: calc(25);
  font: oblique;
  }
.gab {
  width: 400px;
  height: 320px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  margin-top: 20px;
}

.pro {
  display: flex;
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}


/* .amd {
  display: justify;
  padding: 25px;
  font-size: 100px;
  background-color: #b0d7ff;
  display: flex;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.intel {
  display: justify;
  padding: 25px;
  font-size: 100px;
  background-color: #d8d5db;
  display: flex;
  justify-content: space-around;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 */
.procesadores {
  display: flex;
  /* width: 420px;
  height: 300px; */
  /* margin-top: 25px; */
  justify-content:space-around;
  /* justify-items: center; */
  /* flex: content; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 30px; */
  font-size: 30px;
  margin-top: 70px;
  background-color: #a36dc7;
  padding: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }


}



.contenedor_fuente {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.fuente_bloque {
  margin-top: 25px;
  flex: content;
}

.Lista {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  -ms-flex-align: baseline;
  display: list-item;
  color: #adacb5;
  justify-items: center;
  flex: content;
}

ul#lista li {
  text-align: center;
}


.creditos {
  
    background-color: #684a7b;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
justify-content: space-around;
    border: black solid 5px;
    
    #list {
      text-align: left;
    }
  
}



.proce {

  background-color: #b77472;
  border: black solid 5px;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  border: black solid 5px;
  text-shadow: 2px 2px 4px #684a7b;
  #list {
    text-align: left;
  }

}